<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

    <div class="container">
        <div class="row">
            {% for e in emps %}

            <div class="card" style="width: 18rem;">
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{e.company_name}}</h5>
                <p class="card-text">Names: {{e.user.first_name}} {{e.user.last_name}}</p>
                <a href="{% url 'employer-details' e.id %}" class="btn btn-primary">See details</a>
              </div>
            </div>
            {% endfor %}
        </div>
    </div>

</body>
</html>