{% extends 'index.html' %}

{% block 'content' %}
    <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
    <h1>Hello</h1>
    <h1>{{emps.user.first_name}} {{emps.user.last_name}}</h1>
    <div class="container">
        <div class="row">
            {% for j in jobs %}

            <div class="card" style="width: 18rem;">
              
              <div class="card-body">
                <h5 class="card-title">{{j.position}}</h5>
                <p class="card-text"><b>Salary:</b>{{j.starting_salary}}</p>
                <a href="{% url 'job-details' j.pk %}" class="btn btn-primary">See offer</a>
              </div>
            </div>
            {% endfor %}
        </div>
    </div>
    </div>
    <div class="col-lg-2"></div>
    </div>
{% endblock %}