{% extends 'index.html' %}

{% block 'content' %}
        {% if jobs %}
        <div class="row">
            {% for j in jobs %}

            <div class="card" style="width: 18rem;">

              <div class="card-body">
                <h5 class="card-title">{{j.position}}</h5>
                <p class="card-text">Names: {{j.employer_user}} {{j.employer_user.last_name}}</p>
                <a href="{% url 'job-details' j.pk %}" class="btn btn-primary">See job details</a>
              </div>
            </div>
            {% endfor %}
        </div>

        {% else %}
            <h1> You have no job offers. You can create one <a href="{% url 'job-create' %}" class="btn btn-primary">Create job offer</a></h1>
        {% endif %}

{% endblock %}