<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">CV-JOBS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item active">
        <a class="nav-link" href="{% url 'jobs-all' %}">All job offers <span class="sr-only">(current)</span></a>
      </li>

      {% if not request.user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">Log in</a>
      </li>

      {% else %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Profile
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {% if user.app_user %}
          <a class="dropdown-item" href="{% url 'applicant-profile' user.app_user.id %}">See profile</a>
          {% endif %}
          <a class="dropdown-item" href="{% url 'password_change' %}">Change password</a>
          <a class="dropdown-item" href="{% url 'password_reset' %}">Reset password</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
        </div>
      </li>

        {% if user.app_user %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Applicant
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'cv-general-create' %}">Start new CV</a>
          <a class="dropdown-item" href="{% url 'cv-workplace-create' %}">Add workplace</a>
          <a class="dropdown-item" href="{% url 'cv-education-create' %}">Add education</a>
          <a class="dropdown-item" href="{% url 'cv-languages-create' %}">Add language</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'cv-mine' %}">My CV's</a>
          <a class="dropdown-item" href="{% url 'app-mot-letter-list' %}">My applications</a>
        </div>
      </li>
        {% elif request.user.is_superuser %}

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Employer
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'job-create' %}">Create job offer</a>
          <a class="dropdown-item" href="{% url 'job-mine' %}">My offers</a>
          <a class="dropdown-item" href="{% url 'mot-letter-list' %}">Received applications</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'jobs-all' %}">All job offers</a>
        </div>
      </li>
        {% endif %}

    {% endif %}

    {% if request.user.is_authenticated and user.app_user %}
      <li class="nav-item active">
        <a class="nav-link my-2 my-sm-0" href="{% url 'applicant-profile' user.app_user.id %}">Hello, {{user}}! <span class="sr-only">(current)</span></a>
      </li>
    {% elif request.user.is_authenticated and request.user.is_superuser %}
      <li class="nav-item active">
        <a class="nav-link my-2 my-sm-0" href="#">Hello, {{user}}! <span class="sr-only">(current)</span></a>
      </li>
    {% else %}
      <li class="nav-item active">
        <a class="nav-link my-2 my-sm-0" href="#">Looking for a job, Stranger? <span class="sr-only">(current)</span></a>
      </li>
    {% endif %}
    </ul>
  </div>
</nav>