{% extends 'index.html' %}

{% block 'content' %}

<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <h1>Please, enter your names in order to be able to create CV's.</h1><br><br>
        <form method="post">
            {% csrf_token %}
            {% if not user.is_superuser %}
            {{form}}
            <button class="btn btn-primary" type="submit">Create applicant</button>
            {% endif %}

        </form>
    </div>
    <div class="col-lg-2"></div>
</div>

{% endblock %}