{% extends 'index.html' %}
{% block 'content' %}
<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">

        <h1>{{applicant.name_first}}'s profile page</h1><br><br>
        <h1>Welcome, {{applicant.name_first}}!</h1><br><br>
        <h1>CV Section</h1><br>
        <h3>See my CV's <a href="{% url 'cv-all' %}" class="btn btn-primary">My CV's</a></h3><br>
        <h3>Start a new CV <a href="{% url 'cv-general-create' %}" class="btn btn-primary">Start CV</a></h3>
        <h3>Add a workplace <a href="{% url 'cv-workplace-create' %}" class="btn btn-primary">Add workplace</a></h3>
        <h3>Add education <a href="{% url 'cv-education-create' %}" class="btn btn-primary">Add education</a></h3>
        <h3>Add a language <a href="{% url 'cv-languages-create' %}" class="btn btn-primary">Add language</a></h3><br><br>
        <h1>Navigation panel</h1>
        <h3>Check jobs <a href="{% url 'jobs-all' %}" class="btn btn-primary">See all jobs</a></h3>
        <h3>Check applications <a href="{% url 'app-mot-letter-list' %}" class="btn btn-primary">See applications</a></h3>

    </div>
    <div class="col-lg-3"></div>
</div>
{% endblock %}