{% extends 'index.html' %}
{% block 'content' %}

<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <form method="post">
            {%csrf_token%}
            <h1>Are you sure you want to delete {{cv.applicant_user.name_first}}'s CV?</h1>
            <input type="submit" class="btn btn-danger" value="Confirm">
            <a href="{% url 'jobs-all' %}" class="btn btn-primary">No</a>
        </form>

    </div>
    <div class="col-lg-3"></div>
</div>

{% endblock %}