{% extends 'index.html' %}

{% block 'content' %}

<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">

    {% if user.app_user == letter.applicant_user %}
        <h1><b>Position:</b> {{letter.job_offer.position}}</h1><br>
        <h1><b>in</b> {{letter.job_offer.company_name}}</h1><br>
        <p><b>Candidate's name:</b> {{letter.applicant_user.name_first}} {{letter.applicant_user.name_last}}</p><br>
        <p><b>Text of the letter:</b> {{letter.text}}</p><br>
        <h4>Information about the candidate:</h4>
        <p><b>City of residence:</b> {{letter.cv_general.town}}</p><br>
        <p><b>Street:</b> {{letter.cv_general.street}}</p><br>
        <p><b>Phone number:</b> {{letter.cv_general.phone_number}}</p><br>
        <p><b>Email:</b> {{letter.cv_general.email}}</p><br>
        <p><b>Gender:</b> {{letter.cv_general.get_gender_display}}</p><br>

    {% endif %}

    </div>
    <div class="col-lg-2"></div>
</div>

{% endblock %}